/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/

$colors: #b71234, #ff5800, #ffd500, #009b48, #0046ad, #cecece;
$sides: front, back, right, left, top, bottom;
$repeat: 50;
@import 'reset';
@import "rain";
@import 'slider';

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}
html {
	width: 100%;
	height: 100%;
}


body {
  width: 100%;
  height: 100%;
  background: black;
  // overflow: hidden;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    color: #fff;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 30%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff;
    color: #fff;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #fff;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #fff;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background-image: url(../img/bgs/RoomBG.png);
        filter: blur(4px);
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
        background-position: left;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
        background-position: right;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.1s ease-out;  
                transition: all 0.1s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
    
    /* JavaScript Turned Off */
    .no-js #loader-wrapper {
        display: none;
    }

    .no-js h1 {
        color: #fff;
    }

.pre-loader {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1003;
  color: #fff;

  .pre-loader-headline {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .pre-loader-image {
      background-image: url(../img/1stdibs_logo.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 12vw;
      height: 6vh;
      margin-right: 15px;
    }

    & h1 {
      font-size: 3rem;
      font-family: "lust";
      line-height: 6rem;
    }  
  }

    & h2 {
      font-family: "proxima-nova";
      font-size: 1.8rem;
      font-weight: light;
    }
}

#opening-scene {
  overflow: hidden; 
  width: 100vw;
  height: 100vh;
  position: relative;
  pointer-events: all !important;

  .layer {
    position: absolute;
    width: 100%;
    height: 100%;

    .opening-background {
      background-image: url(../img/DoorScreen/cloud_background.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: absolute;
      width: 120%;
      height: 120%;
      top: -5%;
      left: -5%;
    }

    .castle {
      background-image: url(../img/DoorScreen/floating_island.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      position: absolute;
      width: 28.55051245%;
      height: 83.33333333%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .castle-door {
      background-image: url(../img/DoorScreen/little_door.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      position: absolute;
      width: 7.320644217%;
      height: 18.88020833%;
      top: 47%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 5;
    }

    .cloud1 {
      background-image: url(../img/DoorScreen/cloud1.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      position: absolute;
      width: 40.26354319%;
      height: 40.49479167%;
      top: 44.921875%;
      left: 47.73060029%;
    }

    .cloud2 {
      background-image: url(../img/DoorScreen/cloud2.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      position: absolute;
      width: 47.14494876%;
      height: 47.91666667%;
      top: 5.208333333%;
      left: 5.636896047%;
    }

    .cloud3 {
      background-image: url(../img/DoorScreen/cloud3.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      position: absolute;
      width: 54.1727672%;
      height: 50.78125%;
      bottom: 0;
      left: 9.882869693%;
    }

    .cloud4 {
      background-image: url(../img/DoorScreen/cloud3.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      position: absolute;
      transform: rotate(180deg);
      width: 54.1727672%;
      height: 50.78125%;
      top: 5%;
      left: 49.88287%;
    }
  }
}

// .falling-image {
//   background-image: url(../img/fallinitems/falling_bg.png);
//   background-repeat: no-repeat;
//   width: 100%;
//   height: 100%;
// }

.flash {
    background-image: url(../img/bgs/flash.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 105vw;
    height: 105vh;
    top: -2%;
    left: -2%;
    z-index: 500;
    opacity: 0;
    display: none;
}

#falling-scene {
  overflow: hidden; 

  width: 100vw;
  //height: 100vh;
  position: relative;
  pointer-events: all !important;
  opacity: 0;

  .layer {
    width: 100%;
    height: 100%;

    .falling-background {
      width: 120%;
      top: -5%;
      left: -5%;
      position: relative;
    }
  }
}

.falling-mouse {
  position: absolute;
  background-image: url(../img/fallinitems/mouse.png);
  background-repeat: no-repeat;
  background-size: contain;
  //background-position: center;
  width: 14.64128843%;
  height: 9.252254873%;
  top: 6.837358161%;
  right: 2.196193265%;
}

.falling-bird {
  position: absolute;
  background-image: url(../img/fallinitems/bird.png);
  background-repeat: no-repeat;
  background-size: contain;
  //background-position: center;
  width: 35.13909224%;
  height: 13.0928135%;
  top: 25.74919988%;
  left: 52.34260615%;
}

.falling-deer {
  position: absolute;
  background-image: url(../img/deer.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 30.3806735%;
  height: 20.07564737%;
  top: 18.62089031%;
  left: 0;
}

.falling-bat {
  position: absolute;
  background-image: url(../img/bat.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 38.988287%;
  height: 13.82019203%;
  top: 42.552226%;
  right: -15%;
}

.falling-bug {
  position: absolute;
  background-image: url(../img/lightning_bug.png);
  background-repeat: no-repeat;
  background-size: contain;
  //background-position: center;
  width: 38.693997%;
  height: 14.25661914%;
  bottom: 35.568228%;
  left: -12%;
}

.falling-weird {
  position: absolute;
  background-image: url(../img/fallinitems/weird_thing.png);
  background-repeat: no-repeat;
  background-size: contain;
  //background-position: center;
  width: 34.04099561%;
  height: 21.67588013%;
  bottom: 23.27611289%;
  left: 30.01464129%;
}

.falling-snake {
  position: absolute;
  background-image: url(../img/fallinitems/snake.png);
  background-repeat: no-repeat;
  background-size: contain;
  //background-position: center;
  width: 14.27525622%;
  height: 5.819028222%;
  bottom: 31.85917952%;
  right: 27.0863836%;
}

.falling-spider {
  position: absolute;
  background-image: url(../img/spider.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 50.306003%;
  height: 21.62089%;
  bottom: 11.838522%;
  right: -20%;
}

.falling-wild {
  position: absolute;
  background-image: url(../img/fallinitems/wild_thing.png);
  background-repeat: no-repeat;
  background-size: contain;
  //background-position: center;
  width: 18.66764275%;
  height: 10.18329939%;
  bottom: 5.382601106%;
  left: 9.150805271%;
}

.falling-porcupine {
  position: absolute;
  background-image: url(../img/fallinitems/porcupine.png);
  background-repeat: no-repeat;
  background-size: contain;
  //background-position: center;
  width: 27.0863836%;
  height: 5.819028222%;
  bottom: 0;
  right: 11.34699854%;
}

.tunnel-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 20;
}


.tunnel {
  animation: tunnelFly 1s linear infinite;
  // animation-duration: 4s;
  background: 
    url("http://rachelnabors.com/alice-in-videoland/book/img/bg-tunnel-border-left.svg") repeat-y,
    url("http://rachelnabors.com/alice-in-videoland/book/img/bg-tunnel-border-right.svg") repeat-y 100% 100%,
    url("http://rachelnabors.com/alice-in-videoland/book/img/bg_tunnel-specks.png"),
    #6c373f;
  margin: 0 auto;
  height: calc(100% + 300px);
  width: 100vw;
  min-width: 400px;
  //backface-visibility: visible;
  will-change: transform;
}

.furniture-carousel {
  transition: 0.5s;
}

#room-scene {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: relative;
  pointer-events: all !important;
  // min-width: 1200px;
  // min-height: 700px;

  .layer {
    position: absolute;
    width: 100%;
    height: 100%;

    .room-background {
      background-image: url(../img/bgs/RoomBG.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: absolute;
      width: 120%;
      height: 120%;
      top: -5%;
      left: -5%;
    }

    .test-bounds {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60vw;
      height: 70vh;
      border: 1px solid green;
      z-index: 20;
    }

    .test-image {
      background-image: url(../img/furniture3.gif);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      position: absolute;
      width: 30%;
      height: 50vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
    }
  }
}



////highlight lamp on item

.highlight-wrapper {
  position: absolute;
  top: -5%;
  left: 0;
  width: 100%;
  height: 110%;
  overflow: hidden;
  // display: none;
}

.spotlight_swivel {
  animation: rotate_spotlight 5s linear infinite;
}
.lamp {
  position: absolute;
  // width: 40vh;
  width: 20vh;
  //height: 400vh;
  height: 300vh;
  background-image: radial-gradient(ellipse, rgba(250, 250, 250, 0.5), rgba(250, 250, 250, 0.2) 25%, rgba(250, 250, 250, 0) 50%);
  top:-220vh;
  left: 80vh;
  transform: perspective(20vh) rotateX(20deg);
}

.image-text__details {
  position: absolute;
  right: -120%;
}

.product-text{
  display: flex;
  background: rgba(10, 19, 16, .7);
  color: #fff;
  position: absolute;
  right: -100%;
  top: 20vh;
  z-index: 5;

  .product-logo {
    background-image: url(../img/1stdibs_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    // width: 5.856515373%;
    // height: 2.604166667%;
    width: 35vw;
    height: 2vh;
    margin-top: 2%;
    margin-left: 2%;
    position: relative;
  }

  .product-details {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: 3% 0;
    position: relative;
    z-index: 5;

    .product-title {

      font-family: "lust";
      font-size: 1.625rem;
      line-height: 32px;

      @media screen and (min-width: 600px) {
        font-size: 3.625rem;
        line-height: 70px; 
      }
    }

    .product-creator {
      font-family: "proxima-nova";
      font-weight: light;
      font-size: 1.4375rem;
      margin-bottom: 5%;
    }

    .product-description {
      font-family: "proxima-nova";
      font-size: 0.625rem;
      width: 80%;
      line-height: 15px;
      margin-bottom: 5%;
    }

    .product-buy-button {
      text-decoration: none;
      font-family: "proxima-nova";
      font-size: 0.875rem;
      align-self: flex-end;
      color: #a0b4b6;
      border: 2px solid #a0b4b6;
      padding: 5px 10px;
    }
  }

  .exit-product {
    width: 5vw;
    background-image: url(../img/x-button.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    // width: 5.856515373%;
    // height: 2.604166667%;
    height: 2vh;
    margin-top: 2%;
    margin-left: 2%;
    position: relative;
    z-index: 5;
    transition: .4s;

    &:hover {
      transform: scale(1.2) rotate(180deg);
    }
  }
}

.directions {
  font-family: "proxima-nova";
  color: #fff;
  font-size: .8rem;
  letter-spacing: .2rem;
  line-height: 20px;
  position: absolute;
  width: 20vw;
  text-align: center;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);

}
















